Flask
Flask-SQLAlchemy
Flask-JWT-Extended
Flask-Migrate
Flask-Swagger-UI
Werkzeug
psycopg2-binary
pytest
alembic
bcrypt
python-dotenv
argon2-cffi
requests
robotframework
robotframework-requests
sphinx 
sphinx-autodoc-typehints
sphinx-rtd-theme